<div class="error-container">
  <div class="error-info">
    <h1>404 Não Encontrado!</h1>
    <p>Ops! Página não encontrada. Que tal voltar para a página inicial?</p>
    <a routerLink="/home">Voltar à Página Inicial</a>
  </div>
</div>

<footer>
  <div class="footer-links">
    <h2>Eapp</h2>
    <p class="subscribe">Inscreva-se</p>
    <p>Adquira 10% OFF em Compras</p>
    <div class="footer-input">
      <input type="text" placeholder="Insira seu Email" />
      <i class="fa-regular fa-paper-plane"></i>
    </div>
  </div>

  <div class="footer-links">
    <h3>Endereço</h3>
    <p>Rua Rui Barbosa 377 Santo André, São Paulo</p>
    <p>erikscarcela&#64;gmail.com</p>
    <p>+55 (11) 94008-0990</p>
  </div>

  <div class="footer-links">
    <h3>Conta</h3>
    <p>Minha Conta</p>
    <p>Login / Registro</p>
    <p>Carrinho</p>
    <p>Favoritos</p>
  </div>

  <div class="footer-links">
    <h3>Links Rápidos</h3>
    <p>Política de Privacidade</p>
    <p>Termos de Uso</p>
    <p>FAQ</p>
    <p>Contato</p>
  </div>

  <div class="footer-links">
    <h3>Baixe o APP</h3>
    <p class="new-user-offer">Usuário Novos Ganham R$10,00.</p>
    <div class="qrcode-wrapper">
      <img src="/qrcode.png" class="qrcode-img" />
      <div class="footer-btns-wrapper">
        <div class="download-btns">
          <img src="/googleplay.png" alt="" />
          <div class="btn-text">
            <p class="get-it">GET IT ON</p>
            <p class="brand-name">Google Play</p>
          </div>
        </div>

        <div class="download-btns">
          <img src="/apple.png" alt="" />
          <div class="btn-text">
            <p class="get-it">Donwload on the</p>
            <p class="brand-name">Apple Store</p>
          </div>
        </div>
      </div>
    </div>
    <div class="social-links">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
  </div>
</footer>