@use "../../../scss/mixins.scss" as *;
@use "../../../scss/variables.scss" as *;

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 18rem;
  padding: 1rem 1.5rem;
  background-color: $primary-color;
  transform: translateX(-100%);
  transition: transform 0.25s ease;
  z-index: 9999;
  text-align: center;
  color: #fff;

  .fa-xmark {
    display: flex;
    align-self: flex-end;
    font-size: 24px;
    padding: .5rem;
    color: $secondary-color;
    cursor: pointer;
  }

  h1 {
    font-family: "Charm", sans-serif;
    font-weight: 500;
  }

  h2 {
    font-family: "Playwrite DK Loopet", cursive;
  }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;

    img {
      width: 3rem;
    }
    
  }

  .dashboard-sections-btns {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
    gap: 1.5rem;
    
    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      background-color: transparent;
      border: 0;
      color: #fff;
      font-size: 16px;
      width: 100%;
      padding: .6rem 1rem;
      border-radius: .25rem;
      cursor: pointer;

      i {
        font-size: 20px;
      }
    }
    a.active-btn {
        background-color: #fff;
        color: $primary-color;
      }
  }

  .exit-btn {
      display: flex;
      gap: 1rem;
      background-color: transparent;
      border: 0;
      color: #fff;
      font-size: 16px;
      width: 100%;
      padding: .6rem 1rem;
      border-radius: .25rem;
      cursor: pointer;
      margin: auto;

      i {
        font-size: 20px;
      }
  }

  &.open {
    transform: translateX(0);
  }

}

.app-wrapper {
  transition: margin-left 0.25s ease;
  min-height: 85vh;

  &.sidebar-open {
    margin-left: 17rem;
  }

  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.35rem 5rem;
    width: 100%;
    background: linear-gradient(to bottom, #545a5f, #31373c);
    color: #fff;

    .fa-bars {
      font-size: 30px;
      min-width: 200px;
      cursor: pointer;
      transition: 1s;

      &:hover {
        opacity: 0.2;
      }
    }

    .logo-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      .logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .25rem;
        img {
          height: 1.5rem;
          width: 2.75rem;
        }

        h1 {
          font-size: 26px;
          color: #fff;
          font-family: "Charm", sans-serif;
        }
      }

      .admin-title {
        font-size: 14px;
      }
    }

    .user-info-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      min-width: 200px;

      .user-info {
        h2 {
          font-size: 16px;
          font-weight: 600;
        }

        p {
          font-size: 14px;
        }
      }

      i {
        font-size: 30px;
      }
    }
  }
}