<div class="sidebar" [class.open]="sidebarOpen">
  <i class="fa-solid fa-xmark" (click)="toggleSidebar()"></i>
  <h1>- CRUD -</h1>

  <h2 class="sidebar-title">Painel do Admin</h2>

  <div class="logo-wrapper">
    <img src="/white-logo.png" alt="logo-img" />
    <h1>Eapp</h1>
  </div>

  <div class="dashboard-sections-btns">
    <a routerLink="/admin/dashboard" class="active-btn"><i class="fa-solid fa-chart-pie"></i>Dashboard</a>
    <a routerLink="/admin/users"><i class="fa-solid fa-user"></i>Usuários</a>
    <a routerLink="/admin/products"><i class="fa-solid fa-cube"></i>Produtos</a>
    <a routerLink="/admin/categories"><i class="fa-solid fa-thumbtack"></i>Categorias</a>
    <a routerLink="/admin/settings"><i class="fa-solid fa-gear"></i>Configurações</a>
  </div>
  <button class="exit-btn"><i class="fa-solid fa-door-open"></i>Sair</button>
</div>

<div class="app-wrapper" [class.sidebar-open]="sidebarOpen">
  <header>
    <i class="fa fa-bars" (click)="toggleSidebar()"></i>

    <div class="logo-container">
      <div class="logo-wrapper">
        <img src="/white-logo.png" alt="logo-img" />
        <h1>Eapp</h1>
      </div>
      <p class="admin-title">Admin Dashboard</p>
    </div>
    <div class="user-info-wrapper">
      <i class="fa-solid fa-user-secret"></i>
      <div class="user-info">
        <h2>Erik Scarcela Araujo</h2>
        <p>Admin</p>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

</div>

