<app-admin-toolbar
  [searchForm]="searchForm"
  (pageSizeChange)="onPageSizeChange($event)"
  (addData)="toggleProductModal()"
  (exportData)="onExportProducts()"
  (searchData)="searchForProducts()"
  pageName="Produtos"
></app-admin-toolbar>

@if (showProductModal) {
  <app-product-modal [categories]="categories" [productToEdit]="productToEdit" (close)="toggleProductModal()" (productAdded)="onAddedProduct()"></app-product-modal>
}

<app-admin-crud-table
  [dataType]="'product'"
  [data]="products"
  [tableColumns]="columns"
  [tableHeaders]="headers"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (remove)="toggleRemoveModal($event)"
  (edit)="onEditProduct($event)"
  >
</app-admin-crud-table>

@if (showRemoveModal) {
  <app-remove-modal (close)="showRemoveModal = false" (remove)="removeProduct()"></app-remove-modal>
}

<app-admin-table-footer
  [totalItems]="products.length"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
  >
</app-admin-table-footer>
