.card-purple {
  background: #7f36f5;
  color: #fff;
  border-radius: 1rem;
  padding: 1.25rem 1.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  h2 {
    margin: 0;
    font-size: 28px;
  }

  p {
    margin: 0 0 1rem 0;
    font-size: 14px;
    opacity: 0.8;
  }

  apx-chart {
    margin-top: 0.5rem;
  }
}
