<div class="path">
  <i class="fa-solid fa-house"></i>
  <span class="slash">/</span>
  <p>Usuários</p>
</div>

<app-admin-toolbar
  [searchForm]="searchForm"
  (pageSizeChange)="onPageSizeChange($event)"
  (exportData)="onExportUsers()"
  (searchData)="searchForUsers()"
></app-admin-toolbar>

<app-admin-crud-table
  [data]="users"
  [tableColumns]="columns"
  [tableHeaders]="headers"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
>
</app-admin-crud-table>

<app-admin-table-footer
  [totalItems]="users.length"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
>
</app-admin-table-footer>
