<div class="path">
  <i class="fa-solid fa-house"></i>
  <span class="slash">/</span>
  <p>Usuários</p>
</div>

<app-admin-toolbar
  [searchForm]="searchForm"
  (pageSizeChange)="onPageSizeChange($event)"
  (addData)="toggleUserModal()"
  (exportData)="onExportUsers()"
  (searchData)="searchForUsers()"
></app-admin-toolbar>

<app-user-modal *ngIf="showUserModal" (close)="toggleUserModal()" (userAdded)="onAddedUser()"></app-user-modal>

<app-admin-crud-table
  [data]="users"
  [tableColumns]="columns"
  [tableHeaders]="headers"
  [pageSize]="pageSize"
  [currentPage]="currentPage"
  (remove)="toggleRemoveModal($event)"
>
</app-admin-crud-table>

<app-remove-modal *ngIf="showRemoveModal" (close)="!showRemoveModal" (remove)="removeUser()"></app-remove-modal>

<app-admin-table-footer
  [totalItems]="users.length"
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)"
>
</app-admin-table-footer>
