<div class="admin-user-container">
    <div class="path">
        <i class="fa-solid fa-house"></i>
        <span class="slash">/</span>
        <p>Usuários</p>
    </div>
    
    <div class="toolbar">
        <div class="action-btns">
            <button class="add-btn" (click)="toggleModal()"><i class="fa-solid fa-plus"></i>Adicionar</button>
            <app-admin-modal *ngIf="showModal"></app-admin-modal>
            <button class="export-btn"><i class="fa-solid fa-cloud-arrow-down"></i>Exportar</button>
        </div>
    
        <div class="search-box">
            <input type="text" placeholder="Procure por Usuários...">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    
        <div class="pagination-option">
            <p>Resultados: </p>
            <select name="" id="">
                <option value="">5</option>
                <option value="">10</option>
                <option value="">15</option>
                <option value="">30</option>
                <option value="">50</option>
            </select>
        </div>
    </div>

    <table class="crud-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Phone</th>
                <th>URL Imagem</th>
                <th class="options-th">Opções</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstName + " " + user.lastName}}</td>
                <td>{{ user.email }}</td>
                <td>•••••••••••</td>
                <td>{{ user.phone}}</td>
                <td>{{ user.IimageUrl}}</td>
                <td>
                    <div class="options-area">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <i class="fa-solid fa-delete-left"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="table-footer">
        <div class="page-switcher-wrapper">
            <p>Página</p>
            <div class="page-switcher">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>></button>
                <button>>></button>
            </div>
        </div>

        <div>
            <p>Mostrando os Resultados 1-20 de 2000.</p>
        </div>
    </div>
</div>
