@use "../../../scss/variables.scss" as *;
@use "../../../scss/mixins.scss" as *;


.user-container-wrapper {
    min-height: 100vh;
    padding: 1rem 9rem;
    background-color: #f5f5f5;

    .user-page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.25rem 4rem;
        background-color: $primary-color;
        border-radius: 1rem;

        .input-group {
            @include input-group();
            width: 40rem;
            background-color: #fff;
        }

        p {
            color: #fff;
            font-weight: 700;
            font-size: 18px;
        }
    }

    .user-title {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 1rem 0;

        h1 {
            font-size: 28px;
        }

        .bar {
            height: .05rem;
            width: 89%;
            background-color: #c0bebe;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        gap: 2rem;
        background-color: #fff;
        padding: 1.5rem 4rem;
        border-radius: 1rem;

        img {
            width: 8rem;
            height: 8rem;
            border-radius: 100%;
        }

        .user-info-wrapper {
            display: flex;
            flex-direction: column;
            gap: .25rem;
            width: 90%;

            .user-info-title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                h2 {
                    color: $primary-color;
                }

                a {
                    color: $primary-color;
                    font-weight: 700;

                    i {
                        color: $primary-color;
                        margin-left: .25rem;
                    }
                }
            }
          
            p {
                font-weight: 700;
            }
        }
    }

    .personal-info {
        background-color: #fff;
        padding: 1.25rem 4rem;
        margin: 1rem 0;
        border-radius: 1rem;

        .personal-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                color: $primary-color;
            }

            button {
                margin: 1rem 0;
                background-color: $primary-color;
                border: none;
                padding: .5rem 1.25rem;
                border-radius: .5rem;
                color: #fff;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    box-shadow: 0 0 20px $primary-color;
                    transform: scale(1.03);
                }

                i {
                    color: #fff;
                    font-size: 14px;
                    margin-left: .25rem;
                }
            }
        }

        .bar {
            height: .05rem;
            width: 100%;
            margin: 1rem 0;
            background-color: #e9e8e8;
        }

        .update-form-inputs {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 1rem;

            .input-label-group {
                display: flex;
                flex-direction: column;

                input {
                    border: 0;
                    background-color: transparent;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: .5rem;
                    outline: 0;
                    transition: 1s;

                    &:focus {
                        border-bottom: 1px solid #686767;
                    }
                }

                label {
                    color: #858383;

                    i {
                        font-size: 12px;
                        margin-left: .5rem;
                    }
                }
            }
        }

    }

    .address {
        background-color: #fff;
        padding: 1.25rem 4rem;
        margin: 1rem 0;
        border-radius: 1rem;

        .personal-title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                color: $primary-color;

                i {
                    color: $primary-color;
                    font-size: 18px;
                }
            }

            button {
                margin: 1rem 0;
                background-color: $secondary-color;
                border: 1px solid $primary-color;
                padding: .5rem 1.25rem;
                border-radius: .5rem;
                color: $primary-color;
                font-size: 16px;
                font-weight: 700;
                cursor: pointer;
                transition: .5s;

                &:hover {
                    box-shadow: 0 0 20px $primary-color;
                    transform: scale(1.03);
                }

                i {
                    color: $primary-color;
                    font-size: 14px;
                    margin-left: .25rem;
                }
            }
        }

        .bar {
            height: .05rem;
            width: 100%;
            margin: 1rem 0;
            background-color: #e9e8e8;
        }

        form {
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 1rem;

            .input-label-group {
                display: flex;
                flex-direction: column;

                input {
                    border: 0;
                    background-color: transparent;
                    font-size: 18px;
                    font-weight: 700;
                    margin-top: .5rem;
                    outline: 0;

                    &:focus {
                        border-bottom: 1px solid #686767;
                    }
                }

                label {
                    color: #858383;

                    i {
                        font-size: 12px;
                        margin-left: .5rem;
                    }
                }
            }
        }

    }
    .home-btn-wrapper {
        display: flex;
        justify-self: flex-end;
        align-self: flex-end;
        margin-right: 2rem;

        a {
            display: flex;
            gap: .5rem;
            font-size: 18px;
            margin: .5rem 0;
        }
    }
    
}