<div class="user-container-wrapper">
    <div class="user-page-header">
        <div class="user-greeting">
            <h1>Bem vindo(a), {{ user.firstName }}</h1>
            <p>{{ currentDate }}</p>
        </div>
        <div class="user-actions">
            <div class="input-group">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Procure por Produtos, Eletrônicos e Muito Mais...">
            </div>
            <img src="/me.jpeg" alt="">
        </div>
    </div>

    <div class="user-container">
        <div class="gradient-bar"></div>

        <div class="user-info-wrapper">
            <div class="user-info">
                <img src="/me.jpeg" alt="">
                <div>
                    <h1>{{ user.firstName + " " + user.lastName }}</h1>
                    <p>{{ user.email }}</p>
                </div>
            </div>

            <button>Editar</button>
        </div>

        <form>
            <div class="input-group">
                <label for="">Nome</label>
                <input type="text" placeholder="Seu Nome...">
            </div>

            <div class="input-group">
                <label for="">Sobrenome</label>
                <input type="text" placeholder="Seu Nome...">
            </div>

            <div class="input-group">
                <label for="">Genêro</label>
                <input type="text" placeholder="Seu Nome...">
            </div>

            <div class="input-group">
                <label for="">Email</label>
                <input type="text" placeholder="Seu Nome...">
            </div>
            
            <div class="input-group">
                <label for="">Alterar Senha</label>
                <input type="password" placeholder="Seu Nome...">
            </div>

            <div class="input-group">
                <label for="">Confirme sua Senha</label>
                <input type="password" placeholder="Seu Nome...">
            </div>
        </form>

        <p class="address-title">Meus Endereços de Entrega: </p>

        <div class="address">
            <div class="icon-wrapper">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <div class="address-info">
                <p class="main-address">Rua Rui Barbosa</p>
                <p class="last-update">Última Atualização: 10 de Junho de 2024</p>
            </div>
        </div>

        <div class="user-btns">
            <button class="add-address-btn">+ Adicionar Endereço</button>
            <a routerLink="/home"><i class="fa-solid fa-door-open"></i>Voltar</a>
        </div>
    </div>
</div>