<div class="search-container">
  <p class="search-value">Você Pesquisou por: <span>{{ searchValue }}</span></p>
  <div class="search-overview">
    <div class="orderby-wrapper">
      <h3>Ordernar por: </h3>
      <select (change)="sortProducts($event)">
        <option value="">-- Selecione a Ordenação --</option>
        <option value="price-desc">Preço Descrescente</option>
        <option value="price-asc">Preço Crescente</option>
        <option value="name-desc">Nome: A-Z</option>
        <option value="name-asc">Nome: Z-A</option>
      </select>
    </div>

    <p class="products-found-counter"> Produtos Encontrados: {{ products.length }}</p>
  </div>

  <div class="search-container-wrapper">

    <div class="products-found-container">
      <div class="product-card" *ngFor="let product of products">
        <div class="product-img-wrapper">
          <img src="ps5-controller.png" alt="" />
          <div class="product-offer">{{ product.offer}}</div>
          <div class="product-actions">
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-eye"></i>
          </div>
        </div>
        <h3>{{ product.name}}</h3>
        <p class="price">R${{ product.price }}</p>
        <div class="stars-container">
          <div>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
          <p>(54)</p>
        </div>
        <button class="addcart-btn">Adicionar ao Carrinho</button>
      </div>
    </div>
  </div>

</div>