<div class="modal-overlay">
  <form action="" class="modal">
    <div class="modal-topbar">
      <div class="user-icon-wrapper">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
    <div class="modal-content">
      <h1 class="username">Erik Scarcela Araujo</h1>
      <p class="user-email">erikscarcela&#64;gmail.com</p>

      <div class="admin-input-wrapper">
        <label for="">Nome</label>
        <div class="name-input-wrapper">
          <div class="input-wrapper">
            <input type="text" placeholder="Nome..." />
          </div>
          <div class="input-wrapper">
            <input type="text" placeholder="Sobrenome..." />
          </div>
        </div>
      </div>
      <div class="admin-input-wrapper">
        <label for="">Email</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Email..." />
        </div>
      </div>

      <div class="admin-input-wrapper">
        <label for="">Telefone</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-phone"></i>
          <input type="text" placeholder="Telefone..."/>
        </div>
      </div>

      <div class="admin-input-wrapper">
        <label for="">Permissões</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-key"></i>
          <select name="" id="">
            <option value="">Admin</option>
            <option value="">Usuário</option>
          </select>
        </div>
      </div>

      <div class="admin-input-wrapper">
        <label for="">Foto de Perfil</label>
        <div class="input-wrapper">
          <i class="fa-solid fa-image"></i>
          <input type="text" name="" id="" placeholder="https://suaimagem.png" />
          <button class="apply-button">Aplicar</button>
        </div>
      </div>


    </div>

    <div class="admin-modal-btns">
      <button class="cancel-btn">Cancelar</button>
      <button class="add-btn">Adicionar</button>
    </div>
  </form>
</div>