<div class="modal-overlay">
  <form action="" class="modal">
    <div class="modal-topbar">
      <div class="user-icon-wrapper">
        <i class="fa-solid fa-user"></i>
      </div>
    </div>
    <div class="modal-content">
        <h1 class="username">Erik Scarcela Araujo</h1>
        <p class="user-email">erikscarcela&#64;gmail.com</p>

        <div class="admin-input-wrapper">
            <label for="">Nome</label>
            <div>
                <input type="text" />
                <input type="text" name="" id="" />
            </div>
        </div>
        <div class="admin-input-wrapper">
            <label for="">Email</label>
            <input type="text" name="" id="" />
        </div>
        
        <div class="admin-input-wrapper">
            <label for="">Telefone</label>
            <input type="text" name="" id="" />
        </div>

        <div class="admin-input-wrapper">
            <label for="">Foto de Perfil(URL)</label>
            <input type="text" name="" id="" />
        </div>
    </div>

    <div class="admin-modal-btns">
      <button class="cancel-btn">Cancelar</button>
      <button class="add-btn">Adicionar</button>
    </div>
  </form>
</div>
