.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  input,
  label {
    display: block;
    margin: 0.5rem 0;
  }

  button {
    width: 100%;
    margin-top: 1rem;
  }

  a {
    margin-top: 1rem;
  }
}
