@use "../../../scss/variables.scss" as *;
@use "../../../scss/mixins.scss" as *;

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

  img {
    width: 65%;
    height: 90vh;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .register-form-wrapper {
    width: 100%;
    padding: 0 3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      margin-bottom: 1rem;

      img {
        width: 3rem;
        height: 2.5rem;
        display: block
      }

      h1 {
        font-size: 36px;
        margin-bottom: .5rem;
        font-family: "Charm", cursive;
        margin: 0;
        color: $primary-color;
      }

    }

    p {
      font-size: 18px;
      font-weight: 700;
      color: $grey-color;
      margin-bottom: 2rem;
    }

    form {
      width: 22rem;

      .input-group {
        @include input-group();
        margin-bottom: 1rem;
      }

      button {
        width: 100%;
        margin: 1rem 0;
        background-color: $primary-color;
        border: none;
        padding: .5rem;
        border-radius: 1rem;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        transition: .5s;

        &:hover {
          box-shadow: 0 0 20px $primary-color;
          transform: scale(1.03);
        }
      }
    }

    a {
      font-weight: 700;
      color: $primary-color;
    }
  }
}