@use "../../../scss/mixins.scss" as *;
@use "../../../scss/variables.scss" as *;

.path {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem 6rem 0rem;

  i {
    color: var(--primary-color);
    cursor: pointer;
  }

  .slash {
    color: $light-grey-color;
  }

  p {
    font-size: 18px;
    color: var(--font-color);
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 6rem;

  .action-btns {
    display: flex;
    gap: 0.5rem;

    .add-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--primary-color);
      border: none;
      color: #fff;
      padding: 0.5rem 1rem;
      font-size: 14px;
      border-radius: 0.25rem;
      cursor: pointer;
    }

    .export-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      background-color: $grey-color;
      border: none;
      color: #fff;
      padding: 0.5rem 1rem;
      font-size: 14px;
      border-radius: 0.25rem;
      cursor: pointer;
    }
  }

  .search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    border: 1px solid $grey-color;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    input {
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--font-color);
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;

      i {
        font-size: 16px;
        color: var(--font-color); 
      }
    }
  }

  .pagination-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--font-color);

    select {
      padding: 0.25rem 1rem;
    }
  }
}
