@use "../../../../scss/mixins.scss" as *;
@use "../../../../scss/variables.scss" as *;

.settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .settings-content {
        margin-top: 2rem;
        .section-header {
            border-bottom: 2px solid $light-grey-color;
            padding-bottom: 1rem;

            h1 {
                font-weight: 600;
                font-size: 24px;
            }

            p {
                color: $grey-color;
                font-size: 15px;
            }
        }

        .theme-section-header {
            margin-top: 2rem;

            h1 {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                color: $grey-color;
                font-size: 15px;
            }
        }

        .theme-container {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1.5rem;

            .theme-wrapper {
                text-align: center;

                img {
                    width: 17rem;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15), 0 0 10px rgba(0, 0, 0, 0.05);
                    border-radius: .5rem;

                    &:hover {
                        border: 2px solid $primary-color;
                    }
                }

                p {
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }

        .change-color-container {
            margin-top: 2rem;
            padding: 1.5rem 0;
            border-top: 2px solid $light-grey-color;
            border-bottom: 2px solid $light-grey-color;
            h2 {
                font-size: 16px;
                font-weight: 600;
            }

            p {
                color: $grey-color;
                font-size: 15px;
            }

            .color-inputs {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 1rem;

                .light-color-picker,
                .dark-color-picker {
                    margin-top: .5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    input-color-wrapper {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }

        button {
            font-size: 16px;
            border: 0;
            background-color: $primary-color;
            color: #fff;
            padding: .5rem .75rem;
            margin-top: 2rem;
            border-radius: .5rem;
        }
    }
}