<div class="settings-container">
    <div class="settings-content">
        <div class="section-header">
            <h1>Aparência</h1>
            <p>Modifique as Configurações de Aparência</p>
        </div>

        <div class="theme-section-header">
            <h1>Tema</h1>
            <p>Essa configuração se aplica apenas à interface visível do sistema</p>
        </div>

        <div class="theme-container">
            <div class="theme-wrapper">
                <img src="/darkAndLight.png" alt="">
                <p>Padrão do Sistema</p>
            </div>
            <div class="theme-wrapper" (click)="switchTheme()">
                <img src="/light.png" alt="">
                <p>Light</p>
            </div>
            <div class="theme-wrapper" (click)="switchTheme()">
                <img src="/dark.png" class="dark-theme-img" alt="">
                <p>Dark</p>
            </div>
        </div>

        <div class="change-color-container">
            <h2>Cores Principais do Sistema</h2>
            <p>Troque as Cores do Sistema de Acordo com sua Prefêrencia</p>

            <div class="color-inputs">
                <div class="light-color-picker">
                    <h2>Cor do Sistema (Tema Light)</h2>
                    <div class="input-color-wrapper">
                        <div class="color-wrapper">
                            <input type="color" name="" id="">
                        </div>
                        <input type="text">
                    </div>
                </div>
                <div class="dark-color-picker">
                    <h2>Cor do Sistema (Tema Dark)</h2>
                    <div class="input-color-wrapper">
                        <div class="color-wrapper">
                            <input type="color" name="" id="">
                        </div>
                        <input type="text">
                    </div>
                </div>
            </div>
        </div>

        <button class="update-button">Atualizar</button>
    </div>
</div>
