<div class="admin-user-container">
  <table class="crud-table">
    <thead>
      <tr>
        @for (col of tableHeaders; track col) {
          <th>{{ col }}</th>
        }
        <th class="options-th">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (row of data | paginate: { itemsPerPage: pageSize, currentPage: currentPage }; track row) {
        <tr>
          @for (column of tableColumns; track column) {
            <td >
              @switch (column.type) {
                @case ('image') {
                  @if (row[column.key]) {
                    <img [src]="row[column.key]" alt="">
                  } @else {
                    <div class="blank-user-wrapper">
                      @switch (dataType) {
                        @case ('user') {
                          <i class="fa-solid fa-user"></i>
                        }
                        @case ('product') {
                          <i class="fa-solid fa-box"></i>
                        }
                        @case ('category') {
                          <i class="fa-solid fa-thumbtack"></i>
                        }
                      }
                    </div>
                  }
                }
                @case ('text') {
                  <span>{{ row[column.key ]}}</span>
                }
              }
            </td>
          }
          <td>
            <div class="options-area">
              <i class="fa-solid fa-pen-to-square" (click)="edit.emit(row)"></i>
              <i class="fa-solid fa-delete-left" (click)="remove.emit(row.id)"></i>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>