@use "../../../scss/mixins.scss" as *;
@use "../../../scss/variables.scss" as *;


.admin-user-container {
  padding: 0 6rem;

  .path {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    i {
      color: $primary-color;
      cursor: pointer;
    }

    .slash {
      color: $light-grey-color;
    }
  }

  .toolbar {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    .action-btns {
      display: flex;
      gap: 0.5rem;

      .add-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        background-color: $primary-color;
        border: none;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 16px;
        border-radius: 0.25rem;
        cursor: pointer;
      }

      .export-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        background-color: $grey-color;
        border: none;
        color: #fff;
        padding: 0.5rem 1rem;
        font-size: 16px;
        border-radius: 0.25rem;
        cursor: pointer;
      }
    }

    .search-box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      border: 1px solid $grey-color;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;

      input {
        border: none;
        outline: none;
      }

      button {
        border: none;
        background-color: transparent;
        cursor: pointer;

        i {
          font-size: 16px;
        }
      }
    }

    .pagination-option {
      display: flex;
      align-items: center;
      gap: 1rem;

      select {
        padding: 0.25rem 1rem;
      }
    }
  }

  .crud-table {
    width: 100%;
    margin: 2rem 0;
    border-collapse: collapse;
    font-size: 20px;
    
    thead {
      background-color: #31373c;
      color: #fff;

      th {
        padding: 0.75rem;
        text-align: start;
      }

      .options-th {
        text-align: center;
      }
    }

    tbody {
      td {
        padding: 0.5rem;
        text-align: start;
        border-bottom: 1px solid $light-grey-color;
        max-width: 200px;

        img {
          width: 4rem;
          height: 4rem;
          border-radius: 100%;
        }

        .blank-user-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 100%;

          background-color: $light-grey-color;

          i {
            font-size: 26px;
          }
        }
      }

      .options-area {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5rem;

        i {
          font-size: 24px;
          cursor: pointer;
        }

        .fa-pen-to-square {
          color: blue;
        }

        .fa-delete-left {
          color: red;
        }

        .modal-overlay-confirm {
          display: flex;
          justify-content: center;
          align-items: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          z-index: 100;

          .confirm-modal {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            background-color: #fff;
            padding: 1rem;
            border-radius: .25rem;

            .fa-xmark {
              align-self: flex-end;
              color: $grey-color;
              cursor: pointer;
            }

            .modal-trash-icon-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              align-self: center;
              width: 3.5rem;
              height: 3.5rem;
              border-radius: 100%;
              background-color: #fee1e2;

              i {
                color: #d92525;
                font-size: 24px;
              }
            }

            h1 {
              font-size: 24px;
              font-weight: 600;
              margin-top: 1rem;
            }

            p {
              width: 75%;
            }

            .remove-cancel-btn {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: .5rem;
              width: 50%;
              margin: 2rem 0 1rem 0;

              button {
                flex: 1;
                border-radius: .25rem;
                padding: .5rem;
                cursor: pointer;
                font-size: 14px;
              }

              .cancel-btn {
                border: 1px solid $grey-color;
                background-color: transparent;
              }

              .remove-btn {
                background-color: #d92525;
                color: #fff;
                border: 1px solid #d92525;
              }
            }
          }
        }
      }
    }
  }

  .table-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ::ng-deep ul.ngx-pagination {
      li {
        a {
          color: $primary-color;
          font-size: 18px;
          border-radius: 0.25rem;
        }
      }

      .current {
        background-color: $primary-color;
        color: #fff;
        padding: 0.25rem 0.75rem;
        border-radius: 0.25rem;
      }
    }
  }
}