<div class="top-bar">
    <p class="top-bar-desc">Bem Vindo(a) ao eApp o Melhor dos Marketplace!</p>

    <div class="top-links-wrapper">
        <div class="top-links">
            <i class="fa-solid fa-location-dot"></i>
            <p>Entregar para: 09190-370</p>
        </div>
        <div class="top-links">
            <i class="fa-solid fa-truck"></i>
            <p>Rastreie seu Pedido</p>
        </div>
        <div class="top-links">
            <i class="fa-solid fa-tag"></i>
            <p>Ver Ofertas</p>
        </div>
    </div>
</div>

<div class="home-container"></div>