
<div class="home-container">
  
  <div class="section-title">
    <div class="section-bar"></div>
    <h2 class="section-title">Hoje</h2>
  </div>
  <div class="searchfor-wrapper">
    <h3>Ofertas de Hoje</h3>
    <div class="carrousel-switcher">
      <button><i class="fa-solid fa-arrow-left"></i></button>
      <button><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>

  <div class="products-container">
    <div class="product-card" *ngFor="let product of products">
      <div class="product-img-wrapper">
        <img src="ps5-controller.png" alt="" />
        <div class="product-offer">{{ product.offer }}%</div>
        <div class="product-actions">
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-eye"></i>
        </div>
      </div> 
      <h3>{{ product.name }}</h3>
      <p class="price">R$ {{ product.price }}</p>
      <div class="stars-container">
        <div>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p>({{ product.reviewsNumber}})</p>
      </div>
      <button class="addcart-btn" (click)="addProductTocart(product.id)">Adicionar ao Carrinho</button>
    </div>
  </div>

  <div class="viewall-products-btn">
    <a routerLink="/search">Ver Todos os Produtos</a>
  </div>

  <div class="section-title">
    <div class="section-bar"></div>
    <h2 class="section-title">Categorias</h2>
  </div>
  <div class="searchfor-wrapper">
    <h3>Busque por Categorias</h3>
    <div class="carrousel-switcher">
      <button><i class="fa-solid fa-arrow-left"></i></button>
      <button><i class="fa-solid fa-arrow-right"></i></button>
    </div>
  </div>

  <div class="categories-container">
    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Automóveis')">
        <img src="/category-icons/car.png" alt="" />
      </div>
      <p class="category-title">AUTOMÓVEIS</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Roupas')">
        <img src="/category-icons/dress.png" alt="" />
      </div>
      <p class="category-title">ROUPAS</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Telefones')">
        <img src="/category-icons/smartphone.png" alt="" />
      </div>
      <p class="category-title">TELEFONES</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Livros')">
        <img src="/category-icons/book.png" alt="" />
      </div>
      <p class="category-title">LIVROS</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Jogos')">
        <img src="/category-icons/games.png" alt="" />
      </div>
      <p class="category-title">JOGOS</p>
    </div>

      <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Pets')">
        <img src="/category-icons/pets.png" alt="" />
      </div>
      <p class="category-title">PETS</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Brinquedos')">
        <img src="/category-icons/toys.png" alt="" />
      </div>
      <p class="category-title">BRINQUEDOS</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Televisões')">
        <img src="/category-icons/tv.png" alt="" />
      </div>
      <p class="category-title">TELEVISÕES</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Headphones')">
        <img src="/category-icons/headphones.png" alt="" />
      </div>
      <p class="category-title">HEADPHONES</p>
    </div>

    <div>
      <div class="category-img-wrapper" (click)="searchByCategory('Esportes')">
        <img src="/category-icons/sports.png" alt="" />
      </div>
      <p class="category-title">ESPORTES</p>
    </div>
  </div>

  <div class="section-title">
    <div class="section-bar"></div>
    <h2 class="section-title">Oportunidades</h2>
  </div>
  <div class="searchfor-wrapper">
    <h3>Os Mais Populares do Site</h3>
    <a routerLink="/search">Ver Todos</a>
  </div>


  <div class="products-container">
    <div class="product-card">
      <div class="product-img-wrapper">
        <img src="ps5-controller.png" alt="" />
        <div class="product-offer">40%</div>
        <div class="product-actions">
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>
      <h3>Controle DualSense PS5</h3>
      <p class="price">R$100,00</p>
      <div class="stars-container">
        <div>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p>(44)</p>
      </div>
    </div>

    <div class="product-card">
      <div class="product-img-wrapper">
        <img src="ps5-controller.png" alt="" />
        <div class="product-offer">40%</div>
        <div class="product-actions">
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>
      <h3>Controle DualSense PS5</h3>
      <p class="price">R$100,00</p>
      <div class="stars-container">
        <div>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p>(44)</p>
      </div>
    </div>

    <div class="product-card">
      <div class="product-img-wrapper">
        <img src="ps5-controller.png" alt="" />
        <div class="product-offer">40%</div>
        <div class="product-actions">
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>
      <h3>Controle DualSense PS5</h3>
      <p class="price">R$100,00</p>
      <div class="stars-container">
        <div>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p>(44)</p>
      </div>
    </div>

    <div class="product-card">
      <div class="product-img-wrapper">
        <img src="ps5-controller.png" alt="" />
        <div class="product-offer">40%</div>
        <div class="product-actions">
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-eye"></i>
        </div>
      </div>
      <h3>Controle DualSense PS5</h3>
      <p class="price">R$100,00</p>
      <div class="stars-container">
        <div>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p>(44)</p>
      </div>
    </div>
  </div>
</div>