<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>
  <p class="dashboard-description">Visão Geral do Sistema</p>

  <div class="overview-cards-container">
    <div class="overview-card total">
      <div class="overview-card-content">
        <h2>990</h2>
        <p>TOTAL DE REGISTROS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-hashtag"></i></div>
    </div>

    <div class="overview-card users">
      <div class="overview-card-content">
        <h2>990</h2>
        <p>USUÁRIOS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-user"></i></div>
    </div>

    <div class="overview-card products">
      <div class="overview-card-content">
        <h2>990</h2>
        <p>PRODUTOS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-box"></i></div>
    </div>

    <div class="overview-card categories">
      <div class="overview-card-content">
        <h2>990</h2>
        <p>CATEGORIAS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-thumbtack"></i></div>
    </div>
  </div>

  <div class="charts-container">
    <div class="charts-wrapper">
      <app-bar-chart class="bar-chart"></app-bar-chart>
      <div class="donut-container">
        <app-donut-chart class="donut-chart"></app-donut-chart>
        <div class="donut-center">
          <i class="fas fa-hashtag"></i>
        </div>
      </div>
    </div>
    <div class="chart-overlay">
        <app-pie-chart class="chart-small"></app-pie-chart>
        <div class="box-center"><i class="fas fa-box"></i></div>
    </div>
  </div>

  <div class="second-row">
    <table>
        <tbody>
            <td>#100</td>
            <td>Fone de Ouvido Gamer</td>
            <td>25 Set. 2022</td>
            <td>$300,00</td>
        </tbody>
    </table>
    <div>
        <div class="products-category-title-wrapper">
            <h1>Produtos por Categoria (Qtd)</h1>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <table>
            <thead>
                <th><i class="fa-solid fa-thumbtack"></i></th>
                <th>Categoria</th>
                <th>Qtd</th>
            </thead>
            <tbody>
                <td>247</td>
                <td>333</td>
                <td>222</td>
            </tbody>
        </table>
    </div>
    
  </div>
</div>
