@use "../../../../scss/mixins.scss" as *;
@use "../../../../scss/variables.scss" as *;

.dashboard-container {
  padding: 0 6rem;
  background-color: #f5f6fa;
  min-height: 100vh;

  .dashboard-title {
    padding-top: .5rem;
  }

  .dashboard-description {
    color: $grey-color;
  }

  .overview-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;

    .overview-card {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      padding: .75rem;
      border-radius: 1rem;

      &.total {
        background: linear-gradient(to right, #5c6e6e, #d9cba0);
        i {
          color: #5c6e6e;
        }
      }

      &.users {
        background: linear-gradient(to right, #a678e2, #715ae0);
        i {
          color: #715ae0;
        }
      }

      &.products {
        background: linear-gradient(to right, #f57c42, #f9c96b);
        i {
          color: #f9a03f;
        }
      }

      &.categories {
        background: linear-gradient(to right, #5ac9b2, #b8da7c);
        i {
          color: #b8da7c;
        }
      }
      .overview-card-content {
        h2 {
          font-size: 22px;
          font-weight: 900;
        }
        p {
          font-size: 16px;
          font-weight: 600;
          min-width: 12rem;
          letter-spacing: 0.15rem;
        }
      }

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 2.25rem;
        height: 2.25rem;
        background-color: #fff;

        i {
          font-size: 18px;
        }
      }
    }
  }

  .charts-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem;

    .charts-wrapper,
    .chart-overlay {
      background-color: #fff;
      padding: 0 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    .charts-wrapper {
      width: 74%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bar-chart {
        width: 70%;
      }
      .donut-chart {
        width: 30%;
      }
    }

    .donut-container {
      position: relative;
      display: inline-block;

      .donut-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        pointer-events: none;
        color: $grey-color;
      }
    }

    .chart-overlay {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23%;

      .box-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        pointer-events: none;
        color: $grey-color;
      }
    }
  }
}
