@use "../../../../scss/mixins.scss" as *;
@use "../../../../scss/variables.scss" as *;

.dashboard-container {
  padding: 0 6rem;
  background-color: #f5f6fa;
  min-height: 100vh;

  .dashboard-title {
    padding-top: 0.5rem;
  }

  .dashboard-description {
    color: $grey-color;
  }

  .overview-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;

    .overview-card {
      flex: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      padding: 0.75rem;
      border-radius: 1rem;

      &.total {
        background: linear-gradient(to right, #5c6e6e, #d9cba0);
        i {
          color: #5c6e6e;
        }
      }

      &.users {
        background: linear-gradient(to right, #a678e2, #715ae0);
        i {
          color: #715ae0;
        }
      }

      &.products {
        background: linear-gradient(to right, #f57c42, #f9c96b);
        i {
          color: #f9a03f;
        }
      }

      &.categories {
        background: linear-gradient(to right, #5ac9b2, #b8da7c);
        i {
          color: #b8da7c;
        }
      }
      .overview-card-content {
        h2 {
          font-size: 22px;
          font-weight: 900;
        }
        p {
          font-size: 16px;
          font-weight: 600;
          min-width: 12rem;
          letter-spacing: 0.15rem;
        }
      }

      .icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 2.25rem;
        height: 2.25rem;
        background-color: #fff;

        i {
          font-size: 18px;
        }
      }
    }
  }

  .charts-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 1rem;

    .charts-wrapper,
    .chart-overlay {
      background-color: #fff;
      padding: 0 1rem;
      border-radius: 0.5rem;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    }
    .charts-wrapper {
      width: 74%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .bar-chart {
        width: 70%;
      }
      .donut-chart {
        width: 30%;
      }
    }

    .donut-container {
      position: relative;
      display: inline-block;

      .donut-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        pointer-events: none;
        color: $grey-color;
      }
    }

    .chart-overlay {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 23%;

      .box-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        pointer-events: none;
        color: $grey-color;
      }
    }
  }

  .second-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    margin: 1rem 0 ;

    .first-section {
      display: flex;
      gap: 2rem;
      width: 74%;
    }

    .recent-data {
      flex: 2;
      text-align: center;
      .recent-data-table {
        width: 100%;
        border-collapse: collapse;

        td, th {
          padding: 1rem .5rem;
        }
        td {
          border-bottom: 1px solid $light-grey-color;
          border-top: 1px solid $light-grey-color;
        }
        thead {
          tr {
            th:first-child {
              text-align: start;
              color: $primary-color;
              h1 {
                font-size: 22px;
              }
            }

            th:last-child {
              text-align: end;
              color: $primary-color;
              cursor: pointer;
              font-weight: 400;
            }
          }
        }
        tbody tr {
          color: $grey-color;
          td:first-child {
            color: #000;
          }
          td:last-child {
            text-align: end;
          }
        }
      }
      .fa-angle-down {
        margin-top: 1.5rem;
        font-size: 18px;
        cursor: pointer;
        color: $grey-color;
      }
    }

    .products-category {
      text-align: center;
      background-color: #fff;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
      padding: 1rem;
      border-radius: 0.5rem;
      width: 30%;
      .products-category-title {
        font-size: 16px;
        margin-bottom: 0.75rem;
      }

      table {
        width: 100%;
        border-collapse: collapse;

        th {
          text-align: center;
          padding: 1rem 0;
          border-top: 1px solid $light-grey-color;
          color: $grey-color;
        }
        td {
          padding: 0.75rem 0.25rem;
          text-align: center;
        }
      }

      .icon-wrapper {
        text-align: center;
        margin-top: 0.5rem;
        cursor: pointer;
        i {
          font-size: 18px;
          color: $grey-color;
        }
      }
    }

    .chart-small {
      width: 23%;
    }
  }
}
