<div class="dashboard-container">
  <h1 class="dashboard-title">Dashboard</h1>
  <p class="dashboard-description">Visão Geral do Sistema</p>

  <div class="overview-cards-container">
    <div class="overview-card total">
      <div class="overview-card-content">
        <h2>{{users.length + products.length + categories.length}}</h2>
        <p>TOTAL DE REGISTROS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-hashtag"></i></div>
    </div>

    <div class="overview-card users">
      <div class="overview-card-content">
        <h2>{{users.length}}</h2>
        <p>USUÁRIOS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-user"></i></div>
    </div>

    <div class="overview-card products">
      <div class="overview-card-content">
        <h2>{{products.length}}</h2>
        <p>PRODUTOS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-box"></i></div>
    </div>

    <div class="overview-card categories">
      <div class="overview-card-content">
        <h2>{{categories.length}}</h2>
        <p>CATEGORIAS</p>
      </div>
      <div class="icon-wrapper"><i class="fa-solid fa-thumbtack"></i></div>
    </div>
  </div>

  <div class="charts-container">
    <div class="charts-wrapper">
      <app-bar-chart [users]="users" [categories]="categories" [products]="products" class="bar-chart"></app-bar-chart>
      <div class="donut-container">
        <app-donut-chart [users]="users" [categories]="categories" [products]="products" class="donut-chart"></app-donut-chart>
        <div class="donut-center">
          <i class="fas fa-hashtag"></i>
        </div>
      </div>
    </div>
    <div class="chart-overlay">
      <app-pie-chart [users]="users" [categories]="categories" [products]="products" class="chart-small"></app-pie-chart>
      <div class="box-center"><i class="fas fa-box"></i></div>
    </div>
  </div>

  <div class="second-row">
    <div class="first-section">

      <div class="recent-data">
        <table class="recent-data-table">
          <thead>
            <tr>
              <th colspan="3">
                <h1>Registros Recentes</h1>
              </th>
              <th>
                Ver Todos
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#100</td>
              <td>Fone de Ouvido Gamer</td>
              <td>25 Set. 2022</td>
              <td>$300,00</td>
            </tr>
            <tr>
              <td>#100</td>
              <td>Fone de Ouvido Gamer</td>
              <td>25 Set. 2022</td>
              <td>$300,00</td>
            </tr>
            <tr>
              <td>#100</td>
              <td>Fone de Ouvido Gamer</td>
              <td>25 Set. 2022</td>
              <td>$300,00</td>
            </tr>
            
          </tbody>
        </table>
        <i class="fa fa-angle-down"></i>
      </div>

      <div class="products-category">
        <h1 class="products-category-title">Produtos por Categoria (Qtd)</h1>
        <table>
          <thead>
            <tr>
              <th><i class="fa-solid fa-thumbtack"></i></th>
              <th>Categoria</th>
              <th>Qtd</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><i class="fa fa-paper-plane"></i></td>
              <td>Eletrônicos</td>
              <td>222</td>
            </tr>
             <tr>
              <td><i class="fa fa-paper-plane"></i></td>
              <td>Eletrônicos</td>
              <td>222</td>
            </tr>
             <tr>
              <td><i class="fa fa-paper-plane"></i></td>
              <td>Eletrônicos</td>
              <td>222</td>
            </tr>
          </tbody>
        </table>
        <div class="icon-wrapper">
          <i class="fa-solid fa-angle-down"></i>
        </div>
      </div>
    </div>

    <app-line-chart class="chart-small"></app-line-chart>
  </div>
</div>
