<div class="">
    <div>
        <div class="">
            <i class=""></i>
            <div>
                <p>Total de Registros</p>
                <p>200</p>
            </div>
        </div>
    </div>
    <div>
        <div class="">
            <i class=""></i>
            <div>
                <p>Produtos</p>
                <p>259</p>
            </div>
        </div>
    </div>
    <div>
        <div class="">
            <i class=""></i>
            <div>
                <p>Categorias</p>
                <p>99</p>
            </div>
        </div>
    </div>
    <div>
        <div class="">
            <i class=""></i>
            <div>
                <p>Usuários</p>
                <p>321321</p>
            </div>
        </div>
    </div>
</div>

<div class="charts-container">
    <div class="chart">
    
    </div>

    <div class="pie-chart">

    </div>
</div>

<div class="line-chart">

</div>

<div>
    <div>
        <i></i>
        <p></p>
        <p></p>
    </div>
    <div>
        <i></i>
        <p></p>
        <p></p>
    </div>
    <div>
        <i></i>
        <p></p>
        <p></p>
    </div>
    <div>
        <i></i>
        <p></p>
        <p></p>
    </div>
</div>

<div class="chart-resume">
    
</div>