* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #3a3939;
    font-family: "Nunito Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #3a3939;
}
